/* Base styles for video player */
body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  overflow: hidden;
}

.remote-component{
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100vh;
}